@model BlogVM

<div class="posts-list grid">
    <div class="row" id="productsContainer">
        @if (Model.SearchResults != null)
        {
            if (!Model.SearchResults.Any())
            {
                <div class="col-12"><p>No results found for "@Model.SearchText".</p></div>
            }
            else
            {
                foreach (var item in Model.SearchResults)
                {
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="post-entry clearfix post-wapper">
                            <div class="post-image">
                                <a asp-controller="BlogDetail" asp-action="Detail" asp-route-id="@item.Id">
                                    <img src="@item.Images.FirstOrDefault(x => x.IsMain)?.Image" alt="Blog image" />
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-categories">
                                    <a href="#">Category name: @item.BlogCategory </a>
                                </div>
                                <h2 class="post-title">
                                    <a asp-controller="BlogDetail" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="post-time">@item.CreatedDate.ToShortDateString()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else if (Model.Paginate?.Items != null && Model.Paginate.Items.Any())
        {
            foreach (var item in Model.Paginate.Items)
            {
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="post-entry clearfix post-wapper">
                        <div class="post-image">
                            <a asp-controller="BlogDetail" asp-action="Detail" asp-route-id="@item.Id">
                                <img src="@item.Images.FirstOrDefault(x => x.IsMain)?.Image" alt="Blog image" />
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="post-categories">
                                <a href="#">Category Name: @item.BlogCategory</a>
                            </div>
                            <h2 class="post-title">
                                <a asp-controller="BlogDetail" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
                            </h2>
                            <div class="post-meta">
                                <span class="post-time">@item.CreatedDate.ToShortDateString()</span>
                                <span class="post-comment">1 Comment</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@if (Model.SearchResults == null && Model.Paginate != null)
{
    <nav class="pagination">
        <ul class="page-numbers">
            @if (Model.Paginate.HasPreviousPage)
            {
                <li>
                    <a class="prev page-numbers" href="#" data-page="@(Model.Paginate.PageIndex - 1)">Previous</a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <a class="prev page-numbers" href="#">Previous</a>
                </li>
            }

            @for (var i = 1; i <= Model.Paginate.TotalPages; i++)
            {
                <li class="@(i == Model.Paginate.PageIndex ? "active" : "")">
                    <a class="page-numbers" href="#" data-page="@i">@i</a>
                </li>
            }

            @if (Model.Paginate.HasNextPage)
            {
                <li>
                    <a class="next page-numbers" href="#" data-page="@(Model.Paginate.PageIndex + 1)">Next</a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <a class="next page-numbers" href="#">Next</a>
                </li>
            }
        </ul>
    </nav>
}