@model BlogVM

<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="title" class="page-title">
				<div class="section-container">
					<div class="content-title-heading">
						<h1 class="text-title-heading">
							Home Decor
						</h1>
					</div>
					<div class="breadcrumbs">
						<a asp-controller="Home" asp-action="Index">Home</a><span class="delimiter"></span>Home Decor
					</div>
				</div>
			</div>

			<div id="content" class="site-content" role="main">
				<div class="section-padding">
					<div class="section-container p-l-r">
						<div class="row">
							<div class="col-xl-3 col-lg-3 col-md-12 col-12 sidebar left-sidebar md-b-50">
								<!-- Block Post Search -->
								<div class="block block-post-search">
									<div class="block-title"><h2>Search</h2></div>
									<div class="block-content">
										<form method="get" class="search-from" action="">
											<input type="text" value="" name="s" class="s" placeholder="Search...">
											<button class="btn" type="submit">
												<i class="icon-search"></i>
											</button>
										</form>
									</div>
								</div>

								<!-- Block Post Categories -->
								<div class="block block-post-cats">
									<div class="block-title"><h2>Categories</h2></div>
									<div class="block-content">
										<div class="post-cats-list">
											<ul>
												@foreach (var item in Model.BlogCategories)
												{
													<li>
														<a href="blog-grid-left.html">@item.Name <span class="count">2</span></a>
													</li>
												}												
											</ul>
										</div>
									</div>
								</div>

								<!-- Block Posts -->
								<div class="block block-posts">
									<div class="block-title"><h2>Recent Posts</h2></div>
									<div class="block-content">
										<ul class="posts-list">
											@foreach (var item in Model.Paginate.Items.OrderByDescending(x=>x.CreatedDate).Take(3))
											{
												<li class="post-item">
													<a asp-controller="BlogDetail" asp-action="Detail" asp-route-id="@item.Id">
														<img src="@item.Images.FirstOrDefault(x => x.IsMain)?.Image" alt="Blog image">
													</a>


													<div class="post-content">
														<h2 class="post-title">
															<a href="blog-details-right.html">
																@item.Title
															</a>
														</h2>
														<div class="post-time">
															<span class="post-date">@item.CreatedDate</span>
														</div>
													</div>
												</li>
											}								
											
										</ul>
									</div>
								</div>

								<!-- Block Post Archives -->
								<div class="block block-post-archives">
									<div class="block-title"><h2>Archives</h2></div>
									<div class="block-content">
										<div class="post-archives-list">
											<ul>
												<li>
													<a href="blog-grid-left.html">May 2021</a>
												</li>
												<li>
													<a href="blog-grid-left.html">April 2021</a>
												</li>
												<li>
													<a href="blog-grid-left.html">August 2020</a>
												</li>
											</ul>
										</div>
									</div>
								</div>			
							</div>
							<div class="col-xl-9 col-lg-9 col-md-12 col-12">
								<div id="pagination-content">
									<div class="posts-list grid">
										<div class="row">
											@foreach (var item in Model.Paginate.Items)
											{
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="post-entry clearfix post-wapper">
														<div class="post-image">
															<a asp-controller="BlogDetail" asp-action="Detail" asp-route-id="@item.Id">
																<img src="@item.Images.FirstOrDefault(x => x.IsMain)?.Image" alt="Blog image">
															</a>
														</div>
														<div class="post-content">
															<div class="post-categories">
																<a href="#">Category Name:</a>
															</div>
															<h2 class="post-title">
																<a href="#">@item.Title</a>
															</h2>
															<div class="post-meta">
																<span class="post-time">@item.CreatedDate</span>
																<span class="post-comment">1 Comment</span>
															</div>
														</div>
													</div>
												</div>
											}
										</div>
									</div>

									<nav class="pagination">
										<ul class="page-numbers">
											@if (Model.Paginate.HasPreviousPage)
											{
												<li>
													<a class="prev page-numbers" href="#" data-page="@(Model.Paginate.PageIndex - 1)">Previous</a>
												</li>
											}
											else
											{
												<li class="disabled">
													<a class="prev page-numbers" href="#">Previous</a>
												</li>
											}

											@for (var i = 1; i <= Model.Paginate.TotalPages; i++)
											{
												<li class="@(i == Model.Paginate.PageIndex ? "active" : "")">
													<a class="page-numbers" href="#" data-page="@i">@i</a>
												</li>
											}

											@if (Model.Paginate.HasNextPage)
											{
												<li>
													<a class="next page-numbers" href="#" data-page="@(Model.Paginate.PageIndex + 1)">Next</a>
												</li>
											}
											else
											{
												<li class="disabled">
													<a class="next page-numbers" href="#">Next</a>
												</li>
											}
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>