@model ProductCreate

<div class="main-panel">
    <div class="content-wrapper" style="width: 65pc;">
        <div class="container" style="margin-top: 100px; margin-left: 320px; width: 400px;">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label asp-for="Name">Məhsul adı</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Qiymət</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Stock">Stok</label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Açıqlama</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Brend</label>
                    @Html.DropDownListFor(m => m.BrandId, ViewBag.brands != null ? ViewBag.brands as SelectList : new SelectList(new List<Brand>(), "id", "name"), "Brendi seçin", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Kateqoriya</label>
                    @Html.DropDownListFor(m => m.CategoryId, ViewBag.categories != null ? ViewBag.categories as SelectList : new SelectList(new List<Category>(), "id", "name"), "Kateqoriya seçin", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Ölçülər</label>
                    @Html.ListBoxFor(m => m.TagIds, ViewBag.tags != null ? ViewBag.sizes as MultiSelectList : new MultiSelectList(new List<Tag>(), "id", "name"), new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Rənglər</label>
                    @Html.ListBoxFor(m => m.ColorIds, ViewBag.colors != null ? ViewBag.colors as MultiSelectList : new MultiSelectList(new List<Color>(), "id", "name"), new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Tag-lar</label>
                    @Html.ListBoxFor(m => m.TagIds, ViewBag.tags != null ? ViewBag.tags as MultiSelectList : new MultiSelectList(new List<Tag>(), "id", "name"), new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Şəkilləri Yüklə</label>
                    <input type="file" asp-for="UploadImages" multiple class="form-control" />
                </div>

                <button type="submit" class="btn btn-success">Məhsulu Yarat</button>
            </form>
        </div>
    </div>
</div>
