@model IEnumerable<HelpSection>

<div class="main-panel">
    <div class="content-wrapper" style="width: 65pc;">
        <div class="card-body">
            <h4 class="card-title" style="font-size: 31px; margin-left: 25pc;">Help Section:</h4>
            <div class="table-responsive">
                @if (Model.Count() == 0)
                {
                    <a asp-action="Create" class="btn btn-outline-info mt-4 mb-4">Create</a>
                }
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> PhoneNumber </th>
                            <th> Customer Service Hours </th>
                            <th> Weekend </th>
                            <th> Operations </th>
                        </tr>
                    </thead>
                    <tbody>

                        @* @{ *@
                        @*     int totalCount = ViewBag.TotalCount ?? 0; *@
                        @*     bool isSuperAdmin = User.IsInRole("SuperAdmin"); *@
                        @* } *@

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.PhoneNumber</td>
                                <td> @item.CustomerServiceHours</td>
                                <td> @item.IsWeekendClosed</td>
                                <td>
                                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-secondary">Detail</a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
                                   
                                        <form class="d-inline" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

