@section Css{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <style>
        .review {
            margin-bottom: 20px;
        }

        .content-comment-container {
            background-color: #f8f9fa;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .review-author {
            font-weight: bold;
        }

        .review-time {
            font-size: 0.9rem;
            color: #6c757d;
        }

        .edit-review-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            color: #007bff;
            font-size: 0.9rem;
        }

            .edit-review-btn:hover {
                text-decoration: underline;
            }

        .review-comment-text {
            margin-top: 10px;
            font-size: 1rem;
        }

        form[id^="edit-form-"] {
            margin-top: 15px;
        }

        .edit-form-buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 10px;
        }

        textarea.form-control {
            resize: vertical;
        }



        /* add to cart butonu */

        #addToCartBtn {
            width: 355%;
            padding: 13px 23px;
            background-color: transparent;
            border: 1px solid rgb(0, 0, 0);
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.3s;
        }

            #addToCartBtn:not(:disabled):hover {
                background-color: #000;
                color: #fff;
            }

            #addToCartBtn:disabled {
                opacity: 0.5;
                cursor: not-allowed;
                border-style: dashed;
            }





        /* color ui ucun */

        .color-swatches {
            display: flex;
            gap: 10px;
            list-style: none;
            padding: 0;
        }

            .color-swatches li {
                position: relative;
            }

            .color-swatches input[type="radio"] {
                display: none;
            }

            .color-swatches label {
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid #ccc;
                cursor: pointer;
                transition: border 0.3s ease;
            }

            .color-swatches input[type="radio"]:checked + label {
                border: 3px solid black;
            }

            .color-swatches label:hover {
                opacity: 0.8;
            }

    </style>
}



@model ProductReviewPage
<div id="site-main" class="site-main">
    <div id="main-content" class="main-content">
        <div id="primary" class="content-area">
            <div id="title" class="page-title" style="background-image: url(/assets/img/@Model.Settings.FirstOrDefault(x => x.Key == "ShopBanner")?.Value);">
                <div class="section-container">
                    <div class="content-title-heading">
                        <h1 class="text-title-heading">@Model.ProductName</h1>
                    </div>
                    <div class="breadcrumbs">
                        <a asp-controller="Home" asp-action="Index">Home</a><span class="delimiter"></span>
                        <a asp-controller="Shop" asp-action="Index">Shop</a>
                    </div>
                </div>
            </div>

            <div id="content" class="site-content" role="main">
                <div class="shop-details zoom">
                    <div class="product-top-info">
                        <div class="section-padding">
                            <div class="section-container p-l-r">
                                <div class="row">
                                    <!-- Product Images -->
                                    <div class="product-images col-lg-7 col-md-12 col-12">
                                        <div class="row">
                                            <!-- Thumbnails -->
                                            <div class="col-md-2">
                                                <div class="content-thumbnail-scroll">
                                                    <div class="image-thumbnail slick-carousel slick-vertical" id="thumbnail-list">
                                                        @foreach (var item in Model.Images) 
                                                        {
                                                            <div class="img-item slick-slide" id="img-@item.Id">
                                                                <span class="img-thumbnail-scroll">
                                                                    <img width="600" height="600" src="@item.Img" alt=""> 
                                                                </span> 
                                                            </div> 
                                                        } 
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Main Image -->
                                            <div class="col-md-10">
                                                <div class="scroll-image main-image">
                                                    <div class="image-additional slick-carousel">
                                                        <img id="main-product-image" width="900" height="900"
                                                             src="@Model.Images.FirstOrDefault(i => i.IsMain)?.Img"
                                                             alt="" title="">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                


                                    <!-- Product Info -->
                                    <div class="product-info col-lg-5 col-md-12 col-12">
                                        <h1 class="title">@Model.ProductName</h1>
                                            <span class="price"><ins><span>@Model.Price</span></ins></span>
                                        <div class="rating">
                                            <div class="star star-5"></div>
                                            <div class="review-count">(@Model.Reviews.Count reviews)</div>
                                        </div>
                                        <div class="description">
                                            <p>@Model.Description</p>
                                        </div>

                                                                    
                                            <script>
                                                document.querySelectorAll('.color-swatch').forEach(function (el) {
                                                    el.addEventListener('click', function () {
                                                        const imgUrl = el.getAttribute('data-img');
                                                        const mainImg = document.getElementById('main-product-image');
                                                        if (imgUrl && mainImg) {
                                                            mainImg.src = imgUrl;
                                                        }
                                                    });
                                                });
                                            </script>
         

                                        <!-- Cart Buttons -->
                                        <div class="buttons">
                                            <form asp-controller="Basket" asp-action="AddToBasket" method="post">
                                                <input type="hidden" name="productId" value="@Model.ProductId" />

                                                <div class="variations">
                                                    <table cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="label">Color</td>
                                                                <td class="attributes">
                                                                    <ul class="color-swatches">
                                                                        @foreach (var color in Model.ColorList)
                                                                        {
                                                                            <li>
                                                                                <input type="radio" id="color-@color.Id" name="colorId" value="@color.Id" required />
                                                                                <label for="color-@color.Id" style="background-color:@color.Name;" title="@color.Name"></label>
                                                                            </li>
                                                                        }
                                                                    </ul>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="buttons">
                                                    <div class="add-to-cart-wrap">
                                                        <div class="btn-add-cart">
                                                      

                                                            <button type="submit"
                                                                    class="button product-btn"
                                                                    id="addToCartBtn"
                                                                    disabled>
                                                                Add to cart
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="product-meta">
                                            <span class="posted-in">Category: @Model.Category</span>
                                            <span class="tagged-as">Tags: @Model.Tags.FirstOrDefault()</span>
                                        </div>

                                        <div class="social-share">
                                            <a href="#" class="share-facebook"><i class="fa fa-facebook"></i>Facebook</a>
                                            <a href="#" class="share-twitter"><i class="fa fa-twitter"></i>Twitter</a>
                                            <a href="#" class="share-pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Reviews Tab -->
                    <div class="product-tabs">
                        <div class="section-padding">
                            <div class="section-container p-l-r">
                                <div class="product-tabs-wrap">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (@Model.Reviews.Count)</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                                            <div id="reviews" class="product-reviews">
                                                <div id="comments">
                                                    <h2 class="reviews-title">@Model.Reviews.Count review(s) for <span>@Model.ProductName</span></h2>

                                                    <ol class="comment-list">
                                                        @foreach (var review in Model.Reviews)
                                                        {
                                                            var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
                                                            <li class="review" data-review-id="@review.Id">
                                                                <div class="content-comment-container">
                                                                    <div class="comment-container">
                                                                        <div class="comment-text">
                                                                            <div class="review-time">@review.CreatedAt</div>
                                                                            @if (User.Identity.IsAuthenticated && userId == review.AppUserId)
                                                                            {
                                                                                <button type="button" class="btn btn-link btn-sm edit-review-btn" onclick="toggleEditForm(@review.Id)">
                                                                                    <i class="fa-solid fa-pencil" style="color: #000000;"></i>
                                                                                </button>
                                                                            }
                                                                        </div>
                                                                    </div>

                                                                    <div class="description">
                                                                        <p class="review-comment-text">@review.Comment</p>
                                                                        <p><i class="fa-regular fa-user"></i> @review.UserName</p>
                                                                    </div>

                                                                    @if (User.Identity.IsAuthenticated && userId == review.AppUserId)
                                                                    {
                                                                      <form asp-action="EditReview" method="post" id="edit-form-@review.Id" style="display:none;"> 
                                                                          <input type="hidden" name="Id" value="@review.Id" /> 
                                                                          <input type="hidden" name="AppUserId" value="@review.AppUserId" />
                                                                          <input type="hidden" name="ProductId" value="@Model.ProductId" /> 
                                                                          <div class="form-group"> 
                                                                              <label>Comment</label>
                                                                              <textarea name="Comment" class="form-control">@review.Comment</textarea> 
                                                                          </div> 
                                                                          <div class="edit-form-buttons"> 
                                                                              <button type="submit" class="btn btn-sm">Save</button> 
                                                                              <button type="button" class="btn btn-secondary btn-sm" onclick="toggleEditForm(@review.Id)">Cancel</button> 
                                                                          </div> 
                                                                      </form> 
                                                                        <form method="post" class="delete-review-form" data-review-id="@review.Id" data-product-id="@Model.ProductId">
                                                                            <input type="hidden" name="id" value="@review.Id" />
                                                                            <input type="hidden" name="productId" value="@Model.ProductId" />
                                                                            <button type="submit" style="margin-left: 27pc; ">
                                                                                <i class="fa-solid fa-delete-left fa-sm" style="color: #d21919;"></i>
                                                                            </button>
                                                                        </form>
                                                                    }
                                                                </div>
                                                            </li>
                                                        }
                                                    </ol>

                                                </div>

                                                <!-- Review Form -->
                                                <div id="review-form">
                                                    <div id="respond" class="comment-respond">
                                                        <span id="reply-title" class="comment-reply-title">Add a review</span>
                                                      
                                                        <form id="add-review-form" asp-controller="ProductDetail" asp-action="AddReview" method="post">
                                                            <input type="hidden" name="ProductId" value="@Model.ProductId" />

                                                            <div class="form-group">
                                                                <label>Name *</label>
                                                                <input name="UserName" type="text" class="form-control" value="@User.Identity.Name" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Email *</label>
                                                                <input name="UserEmail" type="email" class="form-control" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Your Review *</label>
                                                                <textarea name="Comment" class="form-control" rows="5" required minlength="3" maxlength="2000"></textarea>
                                                            </div>

                                                            <button type="submit" class="btn ">Submit Review</button>
                                                        </form>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/product-detail.js"></script>
}