
@model Basket

<div id="site-main" class="site-main">
    <div id="main-content" class="main-content">
        <div id="primary" class="content-area">
            <div id="title" class="page-title">
                <div class="section-container">
                    <div class="content-title-heading">
                        <h1 class="text-title-heading">
                            Shopping Cart
                        </h1>
                    </div>
                    <div class="breadcrumbs">
                        <a asp-controller="Home" asp-action="Index">Home</a><span class="delimiter"></span><a asp-controller="Shop" asp-action="Index">Shop</a><span class="delimiter"></span>Shopping Cart
                    </div>
                </div>
            </div>

            <div id="content" class="site-content" role="main">
                <div class="section-padding">
                    <div class="section-container p-l-r">
                        <div class="shop-cart">
                            <div class="row">
                                <div class="col-xl-8 col-lg-12 col-md-12 col-12">

                                    @if (Model.BasketProducts == null || !Model.BasketProducts.Any())
                                    {
                                        <div class="shop-cart-empty">
                                            <div class="notices-wrapper">
                                                <p class="cart-empty">Your cart is currently empty.</p>
                                            </div>
                                            <div class="return-to-shop">
                                                <a class="button" asp-controller="Shop" asp-action="Index">
                                                    Return to shop
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <form class="cart-form" method="post" asp-action="UpdateCart" asp-controller="Basket">
                                            <div class="table-responsive">
                                                <table class="cart-items table" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-thumbnail">Product</th>
                                                            <th class="product-price">Price</th>
                                                            <th class="product-quantity">Quantity</th>
                                                            <th class="product-subtotal">Subtotal</th>
                                                            <th class="product-remove">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0; i < Model.BasketProducts.Count; i++)
                                                        {
                                                            var item = Model.BasketProducts[i];
                                                            <tr class="cart-item">
                                                                <td class="product-thumbnail">
                                                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">
                                                                        <img width="600" height="600" src="@item.ProductImage" class="product-image"/>
                                                                    </a>
                                                                    <div class="product-name">
                                                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">@item.ProductName</a>
                                                                        <br />
                                                                        <small>Color: @item.ColorName</small>
                                                                    </div>
                                                                </td>
                                                                <td class="product-price">
                                                                    <span class="price">@item.Price</span>
                                                                </td>
                                                                <td class="product-quantity">
                                                                    <div class="quantity">
                                                                        <input type="hidden" name="BasketProducts[@i].ProductId" value="@item.ProductId" />
                                                                        <input type="hidden" name="BasketProducts[@i].ColorId" value="@item.ColorId" />
                                                                        <button type="button" class="minus">-</button>
                                                                        <input type="number" class="qty" step="1" min="1" name="BasketProducts[@i].Quantity" value="@item.Quantity" title="Qty" size="4" autocomplete="off" />
                                                                        <button type="button" class="plus">+</button>
                                                                    </div>
                                                                </td>
                                                                <td class="product-subtotal">
                                                                    <span>@(item.Price * item.Quantity)</span>
                                                                </td>
                                                                <td class="product-remove">
                                                                    <button type="submit" name="removeIndex" value="@i" class="remove btn btn-link" title="Remove item">×</button>
                                                                </td>
                                                            </tr>
                                                        }
                                                        <tr>
                                                            <td colspan="6" class="actions">
                                                                <div class="bottom-cart">
                                                                    <div class="coupon">
                                                                        <input type="text" name="coupon_code" class="input-text" id="coupon-code" value="" placeholder="Coupon code" />
                                                                        <button type="submit" name="apply_coupon" class="button" value="Apply coupon">Apply coupon</button>
                                                                    </div>
                                                                    <h2><a asp-controller="Shop" asp-action="Index">Continue Shopping</a></h2>
                                                                    <button type="submit" name="update_cart" class="button" value="Update cart">Update cart</button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    }
                                </div>

                                @if (Model.BasketProducts != null && Model.BasketProducts.Any())
                                {
                                    <div class="col-xl-4 col-lg-12 col-md-12 col-12">
                                        <div class="cart-totals">
                                            <h2>Cart totals</h2>
                                            <div>
                                                <div class="cart-subtotal">
                                                    <div class="title">Subtotal</div>
                                                    <div><span>@Model.TotalPrice</span></div>
                                                </div>
                                                <div class="shipping-totals">
                                                    <div class="title">Shipping</div>
                                                    <div>
                                                        <ul class="shipping-methods custom-radio">
                                                            <li>
                                                                <input type="radio" name="shipping_method" data-index="0" value="free_shipping" class="shipping_method" checked="checked" />
                                                                <label>Free shipping</label>
                                                            </li>
                                                            <li>
                                                                <input type="radio" name="shipping_method" data-index="0" value="flat_rate" class="shipping_method" />
                                                                <label>Flat rate</label>
                                                            </li>
                                                        </ul>
                                                        <p class="shipping-desc">
                                                            Shipping options will be updated during checkout.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="order-total">
                                                    <div class="title">Total</div>
                                                    <div><span>@Model.TotalPrice</span></div>
                                                </div>
                                            </div>
                                            <div class="proceed-to-checkout">
                                                <a asp-controller="Checkout" asp-action="Index" class="checkout-button button">
                                                    Proceed to checkout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #content -->
        </div><!-- #primary -->
    </div><!-- #main-content -->
</div>
