@using MVC_FinalProject.Models.AskUsFrom
@model IEnumerable<AskUsFrom>

<div class="main-panel">
    <div class="content-wrapper" style="width: 65pc;">
        <div class="card-body">
            <h4 class="card-title" style="font-size: 31px; margin-left: 25pc;">User Messages:</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Email </th>
                            <th> Message </th>
                            <th> Created At </th>
                            <th> Operations </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.Name </td>
                                <td> @item.Email </td>
                                <td> @item.Message </td>
                                <td> @item.CreatedDate.ToString("dd/MM/yyyy HH:mm") </td>
                                <td>
                                    <form asp-action="Delete" method="post">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                    </form>

                                    @if (!item.IsApproved)
                                    {
                                        <form asp-action="Approve" method="post">
                                            <input type="hidden" name="Id" value="@item.Id" />
                                            <button type="submit" class="btn btn-outline-success btn-sm">Approve</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
